* {
    margin: 0px;
    box-sizing: border-box;
}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: lightblue;
    font-size: 20px;
    height: 100px;
}
.head li {
    display: inline-block;
    font-size: 40px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: blue;
    font-size: 20px;
    height: 100px;
}

.logo h1 {
    color:white;
}

.logo li {
    display: inline-block;
    font-size: 40px;
    color:white;
}
#home {
    background-image: url('https://img.freepik.com/premium-photo/mountain-lake-with-mountain-background_198067-966925.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.homes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 200px;
    /* border: 50px 60px; */
    /* margin:50px; */
    /* border-radius: 3px;   */
    height: 500px;
    /* width: 100%;  */
    color: white;
    position: relative;
    /* background-color: grey; */
    opacity: 0.5;
}

.container {
    height: 400px;
    width: 400px;
    background-color: black;
    align-content: center;
    padding: 0px 10px;
    

}